@font-face {
  font-family: "RobotoRegular";
  font-weight: 400;
  src: url("../assets/Fonts/roboto-regular.woff2") format("woff2"),
    url("../assets/Fonts/roboto-regular.woff") format("woff"),
    url("../assets/Fonts/roboto-regular.ttf") format("ttf");
}
@font-face {
  font-family: "RobotoBold";
  font-weight: 700;
  src: url("../assets/Fonts/roboto-bold.woff2") format("woff2"),
    url("../assets/Fonts/roboto-bold.woff") format("woff"),
    url("../assets/Fonts/roboto-bold.ttf") format("ttf");
}
@font-face {
  font-family: "SpecialElite";
  font-weight: 400;
  src: url("../assets/Fonts/specialelite-regular.woff2") format("woff2"),
    url("../assets/Fonts/specialelite-regular.woff") format("woff"),
    url("../assets/Fonts/specialelite-regular.ttf") format("ttf");
}

:root {
  --color1: #708090;
  --color2: #000000;
  --color3: #ffffff;
  --color4: #adff2f;
}

body {
  background-color: var(--color1);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
